<%= form_for @cpu do |f| %>
  <% if @cpu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu.errors.count, "error") %> prohibited this cpu from being saved:</h2>

      <ul>
      <% @cpu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :item do |fi|%>
  <div class="field">
    <%= fi.label :manufacturer %><br>
    <%= fi.select :manufacturer_id, Manufacturer.all.collect {|m| [m.name, m.id] } %>
  </div>
  
  <div class="field">
    <%= fi.label :clock_speed %><br>
    <%= fi.number_field :clock_speed %>
  </div>
  
  <div class="field">
    <%= fi.label :turbo_clock_speed %><br>
    <%= fi.number_field :turbo_clock_speed %>
  </div>

  <div class="field">
    <%= fi.label :cores %> <br>
    <%= fi.text_field :cores %>
  </div>
  
  <div class="field">
    <%= fi.label :is_unlocked %> <br>
    <%= fi.select :is_unlocked, [['Yes', true], ['No', false]] %>
  </div>
  
  <div class="field">
    <%= fi.label :architechture %> <br>
    <%= fi.text_field :architechture %>
  </div>
  
  <div class="field">
    <%= fi.label :threads %> <br>
    <%= fi.number_field :threads %>
  </div>
  
  <div class="field">
    <%= fi.label :l2_cache %> <br>
    <%= fi.number_field :l2_cache %>
  </div>
  
  <div class="field">
    <%= fi.label :l3_cache %> <br>
    <%= fi.number_field :l3_cache %>
  </div>
  
  <div class="field">
    <%= fi.label :manufacturer_process %> <br>
    <%= fi.number_field :manufacturer_process %>
  </div>
  
  <div class="field">
    <%= fi.label :gpu_label %> <br>
    <%= fi.number_field :gpu_label %>
  </div>
  
  <div class="field">
    <%= fi.label :tdp %> <br>
    <%= fi.number_field :tdp %>
  </div>
  
  <%= fi.hidden_field :category_id, :value => Category.find_by(name: "CPU").id %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
