<% provide :title, t("static_pages.help.header") %>
<h1><%= t "static_pages.help.header" %></h1>
<p>
  <%= t "static_pages.help.sentence_1" %>
  <%= link_to t("static_pages.help.link_1"),
    "#" %>.
  <%= t "static_pages.help.sentence_2" %>
  <%= link_to "<em>#{t("static_pages.help.link_2")}
    </em> #{t("static_pages.help.link_3")}".html_safe,
    "http://www.railstutorial.org/book" %>
</p>
