<p id="notice"><%= notice %></p>

<p>Name: <%= @component.name %></p>
<p>Price: <%= @component.price %></p>

<%= @component.images.count%>
<%= image_tag(@component.images.first)%>

<%= link_to 'Edit', edit_component_path(@component) %>
<%= link_to 'Back', components_path %>