<%= form_for(@hard_drive) do |f| %>
  <% if @hard_drive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hard_drive.errors.count, "error") %> prohibited this hard_drive from being saved:</h2>

      <ul>
      <% @hard_drive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :item do |fi|%>
  <div class="field">
    <%= fi.label :name %><br> 
    <%= fi.text_field :name %>
  </div>
  <div class="field">
    <%= fi.label "price ($)" %><br>
    <%= fi.text_field :price %>
  </div>
  <%= fi.hidden_field :ranking, :value => 0 %>
  <div class="field">
    <%= fi.label :release_date %><br>
    <%= fi.date_field :release_date %>
  </div>
  <div class="field">
    <%= fi.label :manufacturer %><br>
    <%= fi.select :manufacturer_id, Manufacturer.all.collect {|m| [m.name, m.id] } %>
  </div>
  
  <%= fi.hidden_field :category_id, :value => Category.find_by(name: "Hard Drive").id %>

  <% end %>
  
  <div class="field">
    <%= f.label :images %><br>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= f.label "capacity (gb)" %><br>
    <%= f.number_field :capacity %>
  </div>
  
  <div class="field">
    <%= f.label "cache (mb)" %><br>
    <%= f.number_field :cache %>
  </div>
  
  <div class="field">
    <%= f.label :interface %><br>
    <%= f.text_field :interface %>
  </div>
  
  <div class="field">
    <%= f.label "interface_speed (Gbit/s)" %><br>
    <%= f.number_field :interface_speed %>
  </div>
  
  <div class="field">
    <%= f.label :controller %><br>
    <%= f.text_field :controller %>
  </div>
  
  <div class="field">
    <%= f.label :memory_type %><br>
    <%= f.text_field :memory_type %>
  </div>
  
  <div class="field">
    <%= f.label "process_size (nm)" %><br>
    <%= f.number_field :process_size %>
  </div>
  
  <div class="field">
    <%= f.label "max_shock_force (G)" %><br>
    <%= f.number_field :max_shock_force %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
