<p id="notice"><%= notice %></p>

<h1>Listing Hard Drives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hard_drives.each do |hard_drive| %>
      <tr>
        <td><%= link_to 'Show', hard_drive %></td>
        <td><%= link_to 'Edit', edit_hard_drife_path(hard_drive) %></td>
        <td><%= link_to 'Destroy', hard_drive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hard drive', new_hard_drife_path %>
