<%= form_tag buildpc_index_path, method: :get, :class => 'form-horizontal' do %>
<h1>Build your PC</h1>
<div class="form-group">
    <%= label_tag "cpu_id", "CPU: ", :class => 'control-label col-sm-2' %>
    <div class="col-sm-10"> 
    <%= select_tag "cpu_id", options_from_collection_for_select(@cpus, "id", "name", params[:cpu_id].to_i), include_blank: true, :class => 'form-control' %>
    </div>
</div>
<div class="form-group">
    <%= label_tag "gpu_id", "GPU: ", :class => 'control-label col-sm-2' %>
    <div class="col-sm-10"> 
    <%= select_tag "gpu_id", options_from_collection_for_select(@gpus, "id", "name", params[:gpu_id].to_i), include_blank: true, :class => 'form-control' %>
    </div>
</div>
<div class="form-group">
    <%= label_tag "hard_drive_id", "Hard Drive: ", :class => 'control-label col-sm-2' %>
    <div class="col-sm-10"> 
    <%= select_tag "hard_drive_id", options_from_collection_for_select(@hard_drives, "id", "name", params[:hard_drive_id].to_i), include_blank: true, :class => 'form-control' %>
    </div>
</div>
<div class="form-group">
    <%= label_tag "ram_id", "RAM: ", :class => 'control-label col-sm-2' %>
    <div class="col-sm-10"> 
    <%= select_tag "ram_id", options_from_collection_for_select(@rams, "id", "name", params[:ram_id].to_i), include_blank: true, :class => 'form-control' %>
    </div>
</div>
<div class="form-group">
    <div class=" col-sm-offset-2 col-sm-10">
    <%= submit_tag "Build", :class => 'btn btn-default' %>
    </div>
</div>

<% end %>
<% if @cpu || @gpu || @hard_drive || @ram %>
    <div class=" col-sm-offset-2 col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body show-item">
                <table class="table table-hover table-bordered table-compare">
                    <thead>
                        <tr>
                            <th style="width:15%;">Type</th>
                            <th style="width:15%;">Name</th>
                            <th style="width:40%;">Link to store</th>
                            <th style="width:15%;">Images</th>
                            <th style="width:15%;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @cpu%>
                        <tr>
                            <td>CPU</td>
                            <td><%= @cpu.name %></td>
                            <td><%= link_to "Link to store", "#" %></td>
                            <td><%= image_tag @cpu.images.first, class: "img-responsive" %></td>
                            <td>$<%= @cpu.item.price %></td>
                        </tr>
                        <% end %>
                        <% if @gpu %>
                            <td>GPU</td>
                            <td><%= @gpu.name %></td>
                            <td><%= link_to "Link to store", "#" %></td>
                            <td><%= image_tag @gpu.images.first, class: "img-responsive" %></td>
                            <td>$<%= @gpu.item.price %></td>
                        <% end %>
                        <% if @hard_drive %>
                        <tr>
                            <td>Hard Drive</td>
                            <td><%= @hard_drive.name %></td>
                            <td><%= link_to "Link to store", "#" %></td>
                            <td><%= image_tag @hard_drive.images.first, class: "img-responsive" %></td>
                            <td>$<%= @hard_drive.item.price %></td>
                        </tr>
                        <% end %>
                        <% if @ram %>
                        <tr>
                            <td>RAM</td>
                            <td><%= @ram.name %></td>
                            <td><%= link_to "Link to store", "#" %></td>
                            <td><%= image_tag @ram.images.first, class: "img-responsive" %></td>
                            <td>$<%= @ram.item.price %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <div class=" col-sm-offset-10 col-sm-2">
                    Total Price: $<%= @price %>
                </div>
            </div>
        </div>
    </div>
<% end %>