<% provide :title, @user.name %>
<div class="row">
  <!--<aside class="col-md-4">-->
  <!--  <section class="user_info">-->
  <!--    <h1>-->
  <!--      <%= gravatar_for @user %>-->
  <!--      <%= @user.name %>-->
  <!--    </h1>-->
  <!--  </section>-->
  <!--</aside>-->
  <div class="container">
  <div class="row">
		<div class="col-lg-2 col-sm-6">

            <div class="profile-card card hovercard">
                <!--<div class="cardheader">-->

                <!--</div>-->
                <div class="avatar">
                    <%= gravatar_for @user %>
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank"><%= @user.name %></a>
                    </div>
                    <div class="desc">Reviews: <%= @user.review.count %></div>
                    <div class="desc"><%= link_to 'Edit Profile', edit_user_path(@user) %></div>
                    
                </div>
            </div>

        </div>
        <div class="col-lg-10">
        
                <h2 class="left-align"><%= @user.name %>'s reviews: </h2>
                <% if @user.review.size == 0 %>
                <p class="text-center"><i>This user did not write any review yet</i></p>
                <% else %>
                <% @user.review.each do |review| %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><b>Review about <%= link_to review.item.name, review.item %>: </b></p>
                            <p class="date"><i>Written at <%= review.created_at %></i></p>
                            <p class="text-content"><% review.content.scan(/\S+/)[0..100].join(' ').split(/\n/).each do |paragraph| %>
                                 <%= paragraph.html_safe %><br>
                                 <% end %>
                            </p>
                            <p class="text-right"><%= link_to "See more", review_path(review) %></p>
                    </div>
                    </div>
                <% end %>
                <% end %>
        
        </div>
        

	</div>
</div>
</div>
