<% provide :title, @user.name %>
<div class="row">
  <!--<aside class="col-md-4">-->
  <!--  <section class="user_info">-->
  <!--    <h1>-->
  <!--      <%= gravatar_for @user %>-->
  <!--      <%= @user.name %>-->
  <!--    </h1>-->
  <!--  </section>-->
  <!--</aside>-->
  <div class="container">
  <div class="row">
		<div class="col-lg-2 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <%= gravatar_for @user %>
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank"><%= @user.name %></a>
                    </div>
                    <div class="desc">Reviews: <%= @user.review.count %></div>
                    <div class="desc"><%= link_to 'Edit Profile', edit_user_path(@user) %></div>
                    
                </div>
            </div>

        </div>
        <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1><%= @user.name %>'s reviews: </h2>
                <% @user.review.each do |review| %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><b>Review about <%= link_to review.item.name, review.item %>: </b></p>
                            <p><i><%= review.content.truncate(300) %></i></p>
                            <p class="text-right"><%= link_to "See more", review_path(review) %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        </div>
        

	</div>
</div>
</div>
