<%= form_for(@ram) do |f| %>
  <% if @ram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ram.errors.count, "error") %> prohibited this ram from being saved:</h2>

      <ul>
      <% @ram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :item, @ram.item do |fi|%>
  <div class="field">
    <%= fi.label :name %><br>
    <%= fi.text_field :name %>
  </div>
  <div class="field">
    <%= fi.label "price ($)" %><br>
    <%= fi.text_field :price %>
  </div>
  <%= fi.hidden_field :ranking, :value => 0 %>
  <div class="field">
    <%= fi.label :release_date %><br>
    <%= fi.date_field :release_date %>
  </div>
  <div class="field">
    <%= fi.label :manufacturer %><br>
    <%= fi.select :manufacturer_id, Manufacturer.all.collect {|m| [m.name, m.id] } %>
  </div>

  <div class="field">
    <%= fi.label :store %><br>
    <%= fi.text_field :store %>
  </div>

  <%= fi.hidden_field :category_id, :value => Category.find_by(name: "Ram").id %>

  <% end %>


  <div class="field">
    <%= f.label :images %><br>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :ram_type %><br>
    <%= f.text_field :ram_type %>
  </div>
  <div class="field">
    <%= f.label :memory_size %><br>
    <%= f.text_field :memory_size %>
  </div>
  <div class="field">
    <%= f.label :bus %><br>
    <%= f.text_field :bus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
