<p id="notice"><%= notice %></p>

<h1>Listing Rams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Memory size</th>
      <th>Type</th>
      <th>Bus</th>
      <th>Tdp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rams.each do |ram| %>
      <tr>
        <td><%= ram.name %></td>
        <td><%= ram.price %></td>
        <td><%= ram.type %></td>
        <td><%= ram.memory_size %></td>
        <td><%= ram.type %></td>
        <td><%= ram.bus %></td>
        <td><%= ram.tdp %></td>
        <td><%= link_to 'Show', ram %></td>
        <td><%= link_to 'Edit', edit_ram_path(ram) %></td>
        <td><%= link_to 'Destroy', ram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ram', new_ram_path %>
