<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ram.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ram.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ram.type %>
</p>

<p>
  <strong>Memory size:</strong>
  <%= @ram.memory_size %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ram.type %>
</p>

<p>
  <strong>Bus:</strong>
  <%= @ram.bus %>
</p>

<p>
  <strong>Tdp:</strong>
  <%= @ram.tdp %>
</p>

<%= link_to 'Edit', edit_ram_path(@ram) %> |
<%= link_to 'Back', rams_path %>
