<% value1.attributes.keys.each do |key| %>
  <% if not ["id", "item_id", "images", "manufacturer_id", "created_at", "updated_at"].include? key %>
    <tr>
      <td><strong><%= key.split('_').collect(&:capitalize).join(" ") %></strong></td>
      <% if value1[key].is_a? Numeric %>
        <td><span class="<%= value1[key] > value2[key] ? 'strong_attribute' : '' %>"><%= value1[key] %></span></td>
        <td><span class="<%= value1[key] < value2[key] ? 'strong_attribute' : '' %>"><%= value2[key] %></span></td>
      <% else %>
        <td><%= value1[key] %></td>
        <td><%= value2[key] %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
