<p id="notice"><%= notice %></p>
<div class="row">
  <div class="filter col-sm-2"><p>Filter</p>
    <div class="row">
      <div class="col-sm-6">
        Category
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <%= link_to "All", items_path %>
          </li>
          <% @categories.each do |category| %>
          <li>
            <%= link_to category.name, category%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Manufacturer
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <%= link_to "All", items_path %>
          </li>
          <% @manufacturers.each do |manufacturer| %>
          <li>
            <%= link_to manufacturer.name, manufacturer %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% item1 = Item.find(params[:id1]) %>
  <% item2 = Item.find(params[:id2]) %>

  <div class="col-sm-10">
    <div class="rectange">
      <h3 class="text-center">Comparing</h3>
      <br><br>
      <table class="table table-hover table-bordered table-compare">
        <thead>
          <tr>
            <th></th>
            <th>
              <%= image_tag(@value1.images.first, height:"300", class:"thumbnail compare-item") %>
              <%= link_to item_path(item1) do %>
                <h3 class="text-center"><%= @item1.name %></h3>
              <% end %>
            </th>
            <th>
              <%= image_tag(@value2.images.first, height:"300", class:"thumbnail compare-item") %>
              <%= link_to item_path(item2) do %>
                <h3 class="text-center"><%= @item2.name %></h3>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Price ($)</strong></td>
            <td><% if @item1.price > @item2.price %>
              <span class="strong_attribute"> <%= @item1.price %>
            <% elsif @item1.price < @item2.price %>
              <span class=""><%= @item1.price %>
            <% else %>
              <span><%= @item1.price %>
            <% end %></td>
            <td><% if @item1.price < item2.price %>
              <span class="strong_attribute"> <%= @item2.price %>
            <% elsif @item1.price > @item2.price %>
              <span class="greentext"><%= @item2.price %>
            <% else %>
              <span><%= @item2.price %>
            <% end %></td>
          </tr>
          <%= render partial: 'attribute_comparision', locals: { value1: @value1, value2: @value2 } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
