<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="filter col-sm-2"><p>Filter</p>
      <div class="row">
        <div class="col-sm-6">
          Category
        </div>
        <div class="col-sm-6">
          <ul>
            <li>
              <%= link_to "All", items_path %>
            </li>
            <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, category%>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          Manufacturer
        </div>
        <div class="col-sm-6">
          <ul>
            <li>
              <%= link_to "All", items_path %>
            </li>
            <% @manufacturers.each do |manufacturer| %>
            <li>
              <%= link_to manufacturer.name, manufacturer %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <p>All</p>
        </div>
            <div class="col-sm-6">

              <%= form_for :search, :method => 'GET', :html => {:id => "search-form", :class => "navbar-form navbar-right"}, url: {:controller => 'search', :action => 'sorting'} do |f|%>
                <select name="sort_option" onchange="this.form.submit()">
                  <option value="name" <%if @option && @option == 'name'%> selected <%end%>>Name</option>
                  <option value="price" <%if @option && @option == 'price'%> selected <%end%>>Price</option>
                </select>
                <%if @category%>
                  <input type="hidden" name="category" value="<%= @category.id%>">
                <%end%>
                <%if @manufacturer%>
                  <input type="hidden" name="manufacturer" value="<%= @manufacturer.id%>">
                <%end%>
              <%end%>

            </div>
      </div>
       <div class="components-list row">
        <% @items.each do |item| %>
          <div class="components-show material-card col-sm-3">
            <div class="row">
              <%= link_to item.name, item, class:"component-name"%>
            </div>
            <div class="row">
              <div class="square">
              <% if item.category.name == "GPU" %>
                <%= link_to image_tag(item.gpu.images.first, class:"img-responsive square-content thumbnail"), item %>
              <% elsif item.category.name == "CPU"%>
                <%= link_to image_tag(item.cpu.images.first, class:"img-responsive square-content thumbnail"), item %>
              <% elsif item.category.name == "Hard Drive"%>
                <%= link_to image_tag(item.hard_drive.images.first, class:"img-responsive square-content thumbnail"), item %>
              <% end %>
              </div>
            </div>
            <div class="row">
              Price: $<%= item.price %> <br>
              Category: <%= link_to item.category.name, item.category %> <br>
              Release date: <%= item.release_date %><br>
              <div class="review-rating-index" data-score=<%= item.ranking %>>Ranking: </div>
              Manufacturer: <%= link_to item.manufacturer.name, item.manufacturer %>
            </div>
            <% if current_user != nil && current_user.admin? %>
            <div class="row">
              <% if item.category.name == "GPU" %>
                <%= link_to 'Edit', edit_gpu_path(item.gpu), class:"btn info" %>
              <% elsif item.category.name == "CPU"%>
                <%= link_to 'Edit', edit_cpu_path(item.cpu), class:"btn info" %>
              <% elsif item.category.name == "Hard Drive"%>
                <%= link_to 'Edit', edit_hard_drife_path(item.hard_drive), class:"btn info" %>
              <% end %>

              <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn info" %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="new-list col-sm-1">
      <% if current_user != nil && current_user.admin? %>
      <div class="new-component row">
        <%= link_to 'New CPU', new_cpu_path, class:"btn info" %>
      </div>
      <div class="new-component row">
        <%= link_to 'New GPU', new_gpu_path, class:"btn info" %>
      </div><div class="new-component row">
        <%= link_to 'New Hard Drive', new_hard_drife_path, class:"btn info" %>
      </div>
      <% end %>
    </div>
 </div>
<script>
   $('.review-rating-index').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>
<script type='text/javascript'>
    (function()
    {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
                localStorage.removeItem('firstLoad');
        }
    })();
</script>
