<p id="notice"><%= notice %></p>
<div class="row">
  <div class="filter col-sm-2"><p>Filter</p>
    <div class="row">
      <div class="col-sm-6">
        Category
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <%= link_to "All", items_path %>
          </li>
          <% @categories.each do |category| %>
          <li>
            <%= link_to category.name, category%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Manufacturer
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <%= link_to "All", items_path %>
          </li>
          <% @manufacturers.each do |manufacturer| %>
          <li>
            <%= link_to manufacturer.name, manufacturer %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
          <% if @item.category.name == "GPU" %>

        <div class="panel panel-default">
            <div class="panel-body show-item">
                <div class="text-center">
                    <meta charset="utf-8">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <% count = 1 %>
                            <% @item.gpu.images.each do |image| %>
                            <% if image == @item.gpu.images.first %>
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <% else %>
                              <li data-target="#myCarousel" data-slide-to="<%= count %>"></li>
                            <% count = count +1 %>
                            <% end %>
                            <% end %>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% @item.gpu.images.each do |image| %>
                            <% if image == @item.gpu.images.first %>
                              <div class="item active">
                                <%= image_tag(image, class:"slideshow") %>
                              </div>
                            <% else %>
                              <div class="item">
                                <%= image_tag(image, class:"slideshow") %>
                              </div>
                            <% end %>
                            <% end %>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                <div class="col-sm-4">
                <p><b>Name: </b><%= @item.name %></p>
                <p><b>Price: </b><%= @item.price %>$</p>
                <div class="review-rating" data-score=<%= @item.ranking %>><b>Ranking: </b></div>
                <p><b>Released Date:</b> <%= @item.release_date %></p>
                <p><b>Manufacturer:</b> <%= @item.manufacturer.name %></p>
                <p><b>Gpu brand:</b> <%= @item.gpu.gpu_brand %></p>
                <p><b>Gpu name: </b><%= @item.gpu.gpu_name %></p>
                <p><b>Clock speed:</b> <%= @item.gpu.clock_speed %> MHz</p>
                <p><b>Turbo clock speed:</b> <%= @item.gpu.turbo_clock_speed %> MHz</p>
                </div>
                <div class="col-sm-4">
                <p><b>Is dual gpu: </b>
                    <% if @item.gpu.is_dual_gpu == 0 %>
                        Yes 
                    <% else %>
                        No 
                    <% end %>
                </p>
                <p><b>Memory clock speed:</b> <%= @item.gpu.memory_clock_speed %> MHz</p>
                <p><b>Effective memory clock speed:</b> <%= @item.gpu.effective_memory_clock_speed %> MHz</p>
                <p><b>Memory bus: </b><%= @item.gpu.memory_bus %> bit</p>
                <p><b>Memory: </b><%= @item.gpu.memory %> MB</p>
                <p><b>Memory type: </b><%= @item.gpu.memory_type %></p>
                <p><b>Memory bandwidth:</b> <%= @item.gpu.memory_bandwidth %> GB/s</p>
                <p><b>Tdp: </b><%= @item.gpu.tdp %>W</p>
                </div>
                <div class="col-sm-4">
                <p><b>Shading units: </b><%= @item.gpu.shading_units %></p>
                <p><b>Texture mapping units : </b><%= @item.gpu.texture_mapping_units %></p>
                <p><b>Render output precessors: </b><%= @item.gpu.render_output_precessors %></p>
                <p><b>Pixel rate : </b><%= @item.gpu.pixel_rate %> GPixel/s</p>
                <p><b>Texture rate:</b> <%= @item.gpu.texture_rate %> GTexel/s</p>
                <p><b>Floating point performance: </b><%= @item.gpu.floating_point_performance %> GFLOPS</p>
                </div>
                
            </div>
        </div>


    <% elsif @item.category.name == "CPU"%>
        <div class="panel panel-default">
            <div class="panel-body show-item">
                <div class="text-center">
                    <meta charset="utf-8">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <% count = 1 %>
                            <% @item.cpu.images.each do |image| %>
                            <% if image == @item.cpu.images.first %>
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <% else %>
                              <li data-target="#myCarousel" data-slide-to="<%= count %>"></li>
                            <% count = count +1 %>
                            <% end %>
                            <% end %>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% @item.cpu.images.each do |image| %>
                            <% if image == @item.cpu.images.first %>
                              <div class="item active">
                                <%= image_tag(image, class:"slideshow") %>
                              </div>
                            <% else %>
                              <div class="item">
                                <%= image_tag(image, class:"slideshow") %>
                              </div>
                            <% end %>
                            <% end %>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                
                
                <div class="col-sm-4">
                <p><b>Name: </b><%= @item.name %></p>
                <p><b>Price: </b><%= @item.price %>$</p>
                <div class="review-rating" data-score=<%= @item.ranking %>><b>Ranking: </b></div>
                <p><b>Released Date: </b><%= @item.release_date %></p>
                <p><b>Clock speed: </b><%= @item.cpu.clock_speed %> GHz</p> 
                <p><b>Turbo clock speed: </b><%= @item.cpu.turbo_clock_speed %> GHz</p>
                <p><b>Cores:</b> <%= @item.cpu.cores %> core(s)</p> 
                </div>
                
                <div class="col-sm-4">
                <p><b>Is unlocked: </b>
                    <% if @item.cpu.is_unlocked %>
                        Yes 
                    <% else %>
                        No 
                    <% end %>
                </p>
                <p><b>Architechture: </b><%= @item.cpu.architechture %></p>
                <p><b>Threads: </b><%= @item.cpu.threads %> threads</p>
                <p><b>L2 cache:</b> <%= @item.cpu.l2_cache %> MB</p>
                <p><b>L3 cache: </b><%= @item.cpu.l3_cache %> MB</p>
                <p><b>Manufacturer process: </b><%= @item.cpu.manufacturer_process %> nm</p>
                </div>
                <div class="col-sm-4">
                <p><b>Gpu label: </b><%= @item.cpu.gpu_label %></p>
                <p><b>Tdp: </b><%= @item.cpu.tdp %>W</p>
                </div>
                
            </div>
        </div>

      <% elsif @item.category.name == "Hard Drive"%>
        <div class="panel panel-default">
            <div class="panel-body show-item">
                <div class="text-center">
                    <meta charset="utf-8">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <% count = 1 %>
                            <% @item.hard_drive.images.each do |image| %>
                            <% if image == @item.hard_drive.images.first %>
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <% else %>
                              <li data-target="#myCarousel" data-slide-to="<%= count %>"></li>
                            <% count = count +1 %>
                            <% end %>
                            <% end %>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% @item.hard_drive.images.each do |image| %>
                            <% if image == @item.hard_drive.images.first %>
                              <div class="item active">
                                <%= image_tag(image, class:"slideshow") %>
                              </div>
                            <% else %>
                              <div class="item">
                                <%= image_tag(image, class:"slideshow") %>
                              </div>
                            <% end %>
                            <% end %>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                <div class="col-sm-6">
                <p><b>Name: </b><%= @item.name %></p>
                <p><b>Price: </b><%= @item.price %></p>
                <div class="review-rating" data-score=<%= @item.ranking %>><b>Ranking: </b></div>
                <p><b>Released Date: </b><%= @item.release_date %></p>
                <p><b>Capacity: </b><%= @item.hard_drive.capacity %> GB</p>
                <p><b>Cache: </b><%= @item.hard_drive.cache %> MB</p>
                <p><b>Interface: </b><%= @item.hard_drive.interface %></p>
                </div>
                <div class="col-sm-6">
                <p><b>Interface speed: </b><%= @item.hard_drive.interface_speed %> Gbit/s</p>
                <p><b>Controller: </b><%= @item.hard_drive.controller %></p>
                <p><b>Memory type: </b><%= @item.hard_drive.memory_type %></p>
                <p><b>Process size: </b><%= @item.hard_drive.process_size %> nm</p>
                <p><b>Max shock force: </b><%= @item.hard_drive.max_shock_force %>G</p>
                </div>
            </div>
          </div>


        <% end %>


        <div class="panel panel-default">
          <div class="panel-body">
            <h1>Reviews: </h1>
            <% if @item.reviews.size == 0 %>
            <p class="text-center"><i>This item has not been reviewed yet</i></p>
            <% else %>
            <% @item.reviews.each do |review| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><b><%= link_to review.user.name, review.user %>: </b></p>
                <p class="date"><i>Written at <%= review.created_at %></i></p>
                <!--<p><i><%= review.content.html_safe.truncate(250) %></i></p>-->
                <p><% review.content.scan(/\S+/)[0..100].join(' ').split(/\n/).each do |paragraph| %>
                  <%= paragraph.html_safe %><br>
                  <% end %>
                </p>
                <p class="text-right"><%= link_to "See more", review_path(review) %></p>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
        
        <% if logged_in? %>
        <% if current_user.review & @item.reviews != [] %>
        <h2><i>You have already reviewed this item.</i></h2>
        <% else %>
        <%= form_for Review.new do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        
        
        <div class="rating-form">
          <%= f.label "Your rate:" %>
          <%= f.hidden_field :rate %>
        </div>
        <div class="field">
          <%= f.label "Write your review:" %><br>
          <%= f.text_area :content, required: true %>
        </div>
        
       
        
        <%= f.submit "Add Review", class: "btn btn-normal" %>
        <% end %>
        <% end %>
        <% end %>
        <br>
            <form class="form-inline" id="search-form2">
              <label for="search-box2">Compare with:</label>
            <div class="input-group">
              <input type="text" name="q" id="search-box2" class="form-control" placeholder="Search to compare" autocomplete="off">
            </div>
            <div id="result-box2"></div>
          </form>
          <br>
        <div class="components-list row">
          <% @items.each do |item| %>
          <% if @item.id != item.id && @item.category == item.category%>
          <div class="components-show col-sm-3">
            <div class="row">
              <%= link_to item.name, item, class:"component-name"%>
            </div>
            <div class="row">
              <div class="square">
                <% if item.category.name == "GPU" %>
                <%= link_to image_tag(item.gpu.images.first, class:"img-responsive square-content"), item %>
                <% elsif item.category.name == "CPU"%>
                <%= link_to image_tag(item.cpu.images.first, class:"img-responsive square-content"), item %>
                <% elsif item.category.name == "Hard Drive"%>
                <%= link_to image_tag(item.hard_drive.images.first, class:"img-responsive square-content"), item %>
                <% end %>
              </div>
            </div>
            <div class="row">
              Price: <%= item.price %> <br>
              Release date: <%= item.release_date %><br>
              Manufacturer: <%= link_to item.manufacturer.name, item.manufacturer %>
            </div>
            <% $itemcompare = @item %>
            <div class="row">
              <%= button_to "Compare", { action: "compare", id1: @item.id, id2: item.id }, method: :post  %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
    
      </div>
    </div>

<script>
   $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>

<script type='text/javascript'>
    (function()
    {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
                localStorage.removeItem('firstLoad');
        }
    })();
</script>

<script>
  $("#search-box2").bind("keyup", function() {
    var q = $("#search-box2").val();
    var option = $('#option').find(":selected").val();
    if(q) {
      var form = $("#search-form2"); // grab the form wrapping the search bar.
      var url = "/items/live_compare"; // live_search action.   
      var formData = form.serialize(); // grab the data in the form
      console.log(q);
      $.get(url, formData, function(response) { // perform an AJAX get
      }); 
    } else {
      $("#result-box2").css("display", "none");
    }
  });
</script>
<script>
    $('.rating-form').raty({

      
      path: '/assets/',
      scoreName: 'review[rate]'
        
    });
</script>