<p id="notice"><%= notice %></p>
<div class="row">
  <div class="filter col-sm-2">
    <div class="row">
      <div class="col-sm-6">
        Category
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <%= link_to "All", items_path %>
          </li>
          <% @categories.each do |category| %>
          <li>
            <%= link_to category.name, category%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Manufacturer
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <%= link_to "All", items_path %>
          </li>
          <% @manufacturers.each do |manufacturer| %>
          <li>
            <%= link_to manufacturer.name, manufacturer %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10">

    <% if @item.category.name == "GPU" %>

        <div class="panel panel-default">
            <div class="panel-body show-item" background-color="#5b412b">
                <div class="text-center">
                    <%= image_tag(@item.gpu.images.first, height:"400", class:"thumbnail") %>
                </div>
                <div class="col-sm-4">
                <p><b>Name: </b><%= @item.name %></p>
                <p><b>Price: </b><%= @item.price %></p>
                <div class="review-rating" data-score=<%= @item.ranking %><p><b>Ranking: </b></p></div>
                <p><b>Released Date:</b> <%= @item.release_date %></p>
                <p><b>Manufacturer:</b> <%= @item.manufacturer.name %></p>
                <p><b>Gpu brand:</b> <%= @item.gpu.gpu_brand %></p>
                <p><b>Gpu name: </b><%= @item.gpu.gpu_name %></p>
                <p><b>Clock speed:</b> <%= @item.gpu.clock_speed %></p>
                <p><b>Turbo clock speed:</b> <%= @item.gpu.turbo_clock_speed %></p>
                </div>
                <div class="col-sm-4">
                <p><b>Is dual gpu: </b>
                    <% if @item.gpu.is_dual_gpu == 0 %>
                        Yes 
                    <% else %>
                        No 
                    <% end %>
                </p>
                <p><b>Memory clock speed:</b> <%= @item.gpu.memory_clock_speed %></p>
                <p><b>Effective memory clock speed:</b> <%= @item.gpu.effective_memory_clock_speed %></p>
                <p><b>Memory bus: </b><%= @item.gpu.memory_bus %></p>
                <p><b>Memory: </b><%= @item.gpu.memory %></p>
                <p><b>Memory type: </b><%= @item.gpu.memory_type %></p>
                <p><b>Memory bandwidth:</b> <%= @item.gpu.memory_bandwidth %></p>
                <p><b>Tdp: </b><%= @item.gpu.tdp %></p>
                </div>
                <div class="col-sm-4">
                <p><b>Shading units: </b><%= @item.gpu.shading_units %></p>
                <p><b>Texture mapping units : </b><%= @item.gpu.texture_mapping_units %></p>
                <p><b>Render output precessors: </b><%= @item.gpu.render_output_precessors %></p>
                <p><b>Pixel rate : </b><%= @item.gpu.pixel_rate %></p>
                <p><b>Texture rate:</b> <%= @item.gpu.texture_rate %></p>
                <p><b>Floating point performance: </b><%= @item.gpu.floating_point_performance %></p>
                </div>
                
            </div>
        </div>


<% elsif @item.category.name == "CPU"%>
  <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body show-item">
                
                
                <div class="text-center">
                    <%= image_tag(@item.cpu.images.first, height:"400", class:"thumbnail") %>
                </div>
                
                
                <div class="col-sm-4">
                <p><b>Name: </b><%= @item.name %></p>
                <p><b>Price: </b><%= @item.price %></p>
                <div class="review-rating" data-score=<%= @item.ranking %><p><b>Ranking: </b></p></div>
                <p><b>Released Date: </b><%= @item.release_date %></p>
                <p><b>Clock speed: </b><%= @item.cpu.clock_speed %></p>
                <p><b>Turbo clock speed: </b><%= @item.cpu.turbo_clock_speed %></p>
                <p><b>Cores:</b> <%= @item.cpu.cores %></p>
                </div>
                
                <div class="col-sm-4">
                <p><b>Is unlocked: </b>
                    <% if @item.cpu.is_unlocked %>
                        Yes 
                    <% else %>
                        No 
                    <% end %>
                </p>
                <p><b>Architechture: </b><%= @item.cpu.architechture %></p>
                <p><b>Threads: </b><%= @item.cpu.threads %></p>
                <p><b>L2 cache:</b> <%= @item.cpu.l2_cache %></p>
                <p><b>L3 cache: </b><%= @item.cpu.l3_cache %></p>
                <p><b>Manufacturer process: </b><%= @item.cpu.manufacturer_process %></p>
                </div>
                <div class="col-sm-4">
                <p><b>Gpu label: </b><%= @item.cpu.gpu_label %></p>
                <p><b>Tdp: </b><%= @item.cpu.tdp %></p>
                </div>
                
            </div>
        </div>

      <% elsif @item.category.name == "Hard Drive"%>
      <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body show-item">
                <div class="text-center">
                    <%= image_tag(@item.hard_drive.images.first, height:"400", class:"thumbnail") %>
                </div>
                <div class="col-sm-6">
                <p><b>Name: </b><%= @item.name %></p>
                <p><b>Price: </b><%= @item.price %></p>
                <div class="review-rating" data-score=<%= @item.ranking %><p><b>Ranking: </b></p></div>
                <p><b>Released Date: </b><%= @item.release_date %></p>
                <p><b>Capacity: </b><%= @item.hard_drive.capacity %></p>
                <p><b>Cache: </b><%= @item.hard_drive.cache %></p>
                <p><b>Interface: </b><%= @item.hard_drive.interface %></p>
                </div>
                <div class="col-sm-6">
                <p><b>Interface speed: </b><%= @item.hard_drive.interface_speed %></p>
                <p><b>Controller: </b><%= @item.hard_drive.controller %></p>
                <p><b>Memory type: </b><%= @item.hard_drive.memory_type %></p>
                <p><b>Process size: </b><%= @item.hard_drive.process_size %></p>
                <p><b>Max shock force: </b><%= @item.hard_drive.max_shock_force %></p>
                </div>
            </div>
          </div>
        </div>


        <% end %>


        <div class="panel panel-default">
          <div class="panel-body">
            <h1>Reviews: </h1>
            <% if @item.reviews.size == 0 %>
            <p class="text-center"><i>This item has not been reviewed yet</i></p>
            <% else %>
            <% @item.reviews.each do |review| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><b><%= link_to review.user.name, review.user %>: </b></p>
                <p class="date"><i>Written at <%= review.created_at %></i></p>
                <!--<p><i><%= review.content.html_safe.truncate(250) %></i></p>-->
                <p><% review.content.scan(/\S+/)[0..100].join(' ').split(/\n/).each do |paragraph| %>
                  <%= paragraph.html_safe %><br>
                  <% end %>
                </p>
                <p class="text-right"><%= link_to "See more", review_path(review) %></p>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

        <% if logged_in? %>
        <%= form_for Review.new do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= tinymce_assets %>
        <div class="field">
          <%= f.label "Write your review:" %><br>
          <%= f.text_area :content, :class => "tinymce" %>
          <%= tinymce %>
          <div class="field">
            <%= f.label :rate %>
            <%= f.select :rate, options_for_select(1..10), {prompt: "Your rate"}%>
          </div>
        </div>
        <%= f.submit "Add Review", class: "btn btn-normal" %>

        <% end %>
        <% end %>
        
        <h1>Compare with :</h1>
        <div class="components-list row">
          <% @items.each do |item| %>
          <% if @item.id != item.id && @item.category == item.category%>
          <div class="components-show col-sm-3">
            <div class="row">
              <%= link_to item.name, item, class:"component-name"%>
            </div>
            <div class="row">
              <div class="square">
                <% if item.category.name == "GPU" %>
                <%= link_to image_tag(item.gpu.images.first, class:"img-responsive square-content"), item %>
                <% elsif item.category.name == "CPU"%>
                <%= link_to image_tag(item.cpu.images.first, class:"img-responsive square-content"), item %>
                <% elsif item.category.name == "Hard Drive"%>
                <%= link_to image_tag(item.hard_drive.images.first, class:"img-responsive square-content"), item %>
                <% end %>
              </div>
            </div>
            <div class="row">
              Price: <%= item.price %> <br>
              Release date: <%= item.release_date %><br>
              Manufacturer: <%= link_to item.manufacturer.name, item.manufacturer %>
            </div>
            <div class="row">
              <%= button_to "Compare", { action: "compare", id1: @item.id, id2: item.id }, method: :post  %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
   $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>