<p id="notice"><%= notice %></p>
<div class="row">
<div class="filter col-sm-2">
          <div class="row">
        <div class="col-sm-6">
          Category
        </div>
        <div class="col-sm-6">
          <ul>
            <li>
              <%= link_to "All", items_path %>
            </li>
            <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, category%>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          Manufacturer
        </div>
        <div class="col-sm-6">
          <ul>
            <li>
              <%= link_to "All", items_path %>
            </li>
            <% @manufacturers.each do |manufacturer| %>
            <li>
              <%= link_to manufacturer.name, manufacturer %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
</div>
<div class="col-sm-10">
    
<% if @item.category.name == "GPU" %>

        <div class="panel panel-default">
            <div class="panel-body show-item" background-color="#5b412b">
                <%= image_tag(@item.images.first) %>
                <div class="col-sm-4">
                <p>Name: <%= @item.name %></p>
                <p>Price: <%= @item.price %></p>
                <p>Released Date: <%= @item.release_date %></p>
                <p>Manufacturer: <%= @item.manufacturer.name %></p>
                <p>Gpu brand: <%= @item.gpu.gpu_brand %></p>
                <p>Gpu name: <%= @item.gpu.gpu_name %></p>
                <p>Clock speed: <%= @item.gpu.clock_speed %></p>
                <p>Turbo clock speed: <%= @item.gpu.turbo_clock_speed %></p>
                </div>
                <div class="col-sm-4">
                <p>Is dual gpu: 
                    <% if @item.gpu.is_dual_gpu == 0 %>
                        Yes 
                    <% else %>
                        No 
                    <% end %>
                </p>
                <p>Memory clock speed: <%= @item.gpu.memory_clock_speed %></p>
                <p>Effective memory clock speed: <%= @item.gpu.effective_memory_clock_speed %></p>
                <p>Memory bus: <%= @item.gpu.memory_bus %></p>
                <p>Memory: <%= @item.gpu.memory %></p>
                <p>Memory type: <%= @item.gpu.memory_type %></p>
                <p>Memory bandwidth: <%= @item.gpu.memory_bandwidth %></p>
                <p>Tdp: <%= @item.gpu.tdp %></p>
                </div>
                <div class="col-sm-4">
                <p>Shading units: <%= @item.gpu.shading_units %></p>
                <p>Texture mapping units : <%= @item.gpu.texture_mapping_units %></p>
                <p>Render output precessors: <%= @item.gpu.render_output_precessors %></p>
                <p>Pixel rate : <%= @item.gpu.pixel_rate %></p>
                <p>Texture rate: <%= @item.gpu.texture_rate %></p>
                <p>Floating point performance: <%= @item.gpu.floating_point_performance %></p>
                </div>
                
            </div>
        </div>


<% elsif @item.category.name == "CPU"%>
  <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body show-item">
                <%= image_tag(@item.images.first) %>
                <div class="col-sm-4">
                <p>Name: <%= @item.name %></p>
                <p>Price: <%= @item.price %></p>
                <p>Released Date: <%= @item.release_date %></p>
                <p>Clock speed: <%= @item.cpu.clock_speed %></p>
                <p>Turbo clock speed: <%= @item.cpu.turbo_clock_speed %></p>
                <p>Cores: <%= @item.cpu.cores %></p>
                </div>
                
                <div class="col-sm-4">
                <p>Is unlocked: 
                    <% if @item.cpu.is_unlocked == 0 %>
                        Yes 
                    <% else %>
                        No 
                    <% end %>
                </p>
                <p>Architechture: <%= @item.cpu.architechture %></p>
                <p>Threads: <%= @item.cpu.threads %></p>
                <p>L2 cache: <%= @item.cpu.l2_cache %></p>
                <p>L3 cache: <%= @item.cpu.l3_cache %></p>
                <p>Manufacturer process: <%= @item.cpu.manufacturer_process %></p>
                </div>
                <div class="col-sm-4">
                <p>Gpu label: <%= @item.cpu.gpu_label %></p>
                <p>Tdp: <%= @item.cpu.tdp %></p>
                </div>
            </div>
        </div>




    
<% elsif @item.category.name == "Hard Drive"%>
  <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body show-item">
                <%= image_tag(@item.images.first) %>
                <div class="col-sm-6">
                <p>Name: <%= @item.name %></p>
                <p>Price: <%= @item.price %></p>
                <p>Released Date: <%= @item.release_date %></p>
                <p>Capacity: <%= @item.hard_drive.capacity %></p>
                <p>Cache: <%= @item.hard_drive.cache %></p>
                <p>Interface: <%= @item.hard_drive.interface %></p>
                </div>
                <div class="col-sm-6">
                <p>Interface speed: <%= @item.hard_drive.interface_speed %></p>
                <p>Controller: <%= @item.hard_drive.controller %></p>
                <p>Memory type: <%= @item.hard_drive.memory_type %></p>
                <p>Process size: <%= @item.hard_drive.process_size %></p>
                <p>Max shock force: <%= @item.hard_drive.max_shock_force %></p>
                </div>
            </div>
        </div>


<% end %>

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Reviews: </h2>
                <% @item.reviews.each do |review| %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><b><%= link_to review.user.name, review.user %>: </b></p>
                            <p><i><%= review.content.truncate(300) %></i></p>
                            <p class="text-right"><%= link_to "See more", review_path(review) %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <% if logged_in? %>
            <%= form_for Review.new do |f| %>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                    <div class="field">
                        <%= f.label "Write your review:" %><br>
                        <%= f.text_area :content, required: true %>
                    </div>
                    <%= f.submit "Add Review", class: "btn btn-normal" %>
            <% end %>
        <% end %>
        
    </div>
</div>