
<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="field">
        <%= f.label :item_id %><br>
        <%= f.select :item_id, Item.all.collect {|m| [m.name, m.id] } %>
      </div>
      <div class="rating-form">
        <%= f.hidden_field :rate %>
      </div>
    <%= f.submit %>
  </div>
<% end %>


<script>
    $('.rating-form').raty({

      
      path: '/assets/',
      scoreName: 'review[rate]'
        
    });
</script>