<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav class="custom-nav">
      <ul class="nav navbar-nav navbar-left custom-nav">
        <li><%= link_to image_tag("logo.jpg"), root_path, class:"logo" %></li>
        <li><%= link_to "Newsfeed", reviews_path %></li>
        <li><%= link_to "Item List", items_path%></li>


        <div class="input-group">
        <%= form_for :search, :method => 'GET', :html => {:id => "search-form", :class => "navbar-form navbar-left"}, url: {:controller => 'search', :action => 'index'} do |f|%>
          <input type="text" name="q" id="search-box" class="form-control" placeholder="Search" autocomplete="off">
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit" action="item/search">
                <i class="glyphicon glyphicon-search"></i>
              </button>
          </div>
          <div id="result-box"></div>
        <%end%>
        </div>

        <!-- sorting form -->
          <div class="input-group">
            <%= form_for :search, :method => 'GET', :html => {:id => "search-form", :class => "navbar-form navbar-left"}, url: {:controller => 'search', :action => 'sorting'} do |f|%>
              <select name="sort_option" onchange="this.form.submit()">
                <option value="name" <%if @option && @option == 'name'%> selected <%end%>>Name</option>
                <option value="price" <%if @option && @option == 'price'%> selected <%end%>>Price</option>
              </select>
              <%if @category%>
                <input type="hidden" name="category" value="<%= @category.id%>">
              <%end%>
              <%if @manufacturer%>
                <input type="hidden" name="manufacturer" value="<%= @manufacturer.id%>">
              <%end%>
            <%end%>
          </div>
        <!-- Sorting form -->

      </ul>
      <ul class="nav navbar-nav navbar-right custom-nav">
        <% if logged_in? %>
          <li><%= link_to @current_user.name, current_user %></li>
          <li><%= link_to t("static_pages.header.logout"), logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("static_pages.header.log_in"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


<script>
  $("#search-box").bind("keyup", function() {
    var q = $("#search-box").val();
    var option = $('#option').find(":selected").val();
    if(q) {
      var form = $("#search-form"); // grab the form wrapping the search bar.
      var url = "/items/live_search"; // live_search action.   
      var formData = form.serialize(); // grab the data in the form
      console.log(q);
      $.get(url, formData, function(response) { // perform an AJAX get
      }); 
    } else {
      $("#result-box").css("display", "none");
    }
  });
</script>